.bundle
db/*.sqlite3
log/*.log
tmp/
doc_from_rdoc/*
doc/app/*

*~
index/*
*.svn*
*tuneup*

public/assets/*
public/files/*
public/downloads/*
public/images/user_avatars/*

log/*
xls/*
config/database.yml
config/configuration.yml
config/newrelic.yml
.idea/*
tmp/*
index/*
files/*

.project
.rvmrc
test/fixtures_dump
.bundle/config

*.DS_Store

.bundle
.config

ext/database-and-file-backup.sh

tags
config/application.yml
