.bundle
db/*.sqlite3

doc_from_rdoc/*
doc/app/*

*~
*.DS_Store
*.svn*
*tuneup*

public/assets/*
public/images/user_avatars/*

log/*.log
tmp/
xls/*
config/application.yml
config/configuration.yml
config/database.yml
config/mailers.yml
config/newrelic.yml

.idea/*
index/*
files/*

.project
.rvmrc
test/fixtures_dump

.config

ext/database-and-file-backup.sh

/tags
/.tags
/.tags_sorted_by_file
coverage/