-#TODO This hides all exceptions being thrown - see #4824
:javascript
  $(function() {
    $( "#datacolumn_tabs" ).tabs({ cookie : {path: '/'}});
  });
#datacolumn_tabs
  %ul
    - @dataset.datacolumns.each_with_index do |dc, i|
      %li{:class => "approved_#{dc.approval_stage.to_s}"}
        = link_to dc.columnheader, {:controller => :datacolumns, :action => 'edit', :id => dc.id}
