- if current_user
  %ul.dataset_actions
    - if @dataset.upload_spreadsheet && (current_user.has_role?(:owner, @dataset) || current_user.has_role?(:admin) || current_user.has_role?(:proposer, @dataset) || @dataset.free_for_members)
      %li
        %img{:src => "/images/disk.png"}
        = link_to 'Download', {:controller => :datasets, :action => 'download', :id => @dataset.id}
    - if current_user.has_role?(:owner, @dataset) || current_user.has_role?(:admin)
      %li
        %img{:src => "/images/pencil.png"}
        = link_to 'Edit Dataset', edit_dataset_path(@dataset)
    - if @dataset.upload_spreadsheet && (current_user.has_role?(:owner, @dataset) || current_user.has_role?(:admin))
      %li
        %img{:src => "/images/table_edit.png"}
        = link_to 'Approve Data Columns', data_dataset_path(@dataset)
    - if current_user.has_role?(:admin)
      %li
        %img{:src => "/images/cross.png"}
        = link_to 'Delete', dataset_path(@dataset), :method => :delete, :confirm => "Do you really want to delete this dataset?"
