- actions = []
- if current_user
  - if current_user.has_role? :owner, @dataset || current_user.has_role?(:admin)
    - actions << "#{link_to 'Download', {:controller => :datasets, :action => 'download', :id => @dataset.id, :t => 'vip'}}"
  - if current_user.has_role? :owner, @dataset
    - actions << "#{link_to 'Edit', edit_dataset_path(@dataset)}"
  - if current_user.has_role? :admin
    - actions << "#{link_to 'Upload edit or delete', {:controller => :imports, :action => :raw_data_overview, :dataset_id => @dataset.id}}"
  %p!= actions.join("  •  ")