- unless @measurements[key].empty?
  - if @measurements[key][0].value_type == "Filevalue"
    %table
      %tr
      - @measurements[key].each do |mm|
        %tr
          %td= link_to mm.filevalue.file_file_name, mm.filevalue.file.url