%p
  You are currently in
  %b Step 2 of 5.
%p
  Please go through each of the data columns and approve the Data Types and actual values.
%p
  Once you approved all Data Types you can proceed with the responsible people. 