%h2
  Datagroups
%table#datagroups-table.tablesorter
  %thead
    %tr
      %th Title
      %th Type
      %th Description
  %tbody
    - @datagroups.each do |dg|
      %tr
        %td= link_to dg.title, dg
        %td= dg.methodvaluetype
        %td= dg.description


:javascript
  $(document).ready(function()
    {
        $("#datagroups-table").tablesorter();
    }
  );
