%p
  - rejectors_class = @paperproposal.board_state == 're_prep' ? 'project board' : 'data owners'
  = "Your data request for the following paperproposal was rejected by the #{rejectors_class}:"
%p
  = link_to @paperproposal.title, paperproposal_path(@paperproposal)
%p
  Please make changes, communicate with the proponents and resubmit. aäs#äjkaspüuÄPÜÖ?)=