.user
  - # customize output of user partial by using locals for avatar and name
  - # example: render :partial => @user, :locals => {:avatar => :large, :name => :full}
  - # possible parameters for avatar: small, medium, large / name: show, full, none
  - avatar ||= :small
  - name ||= :show
  - if (avatar != :none) then
    = link_to(image_tag(user.avatar.url(avatar)), user_path(user.path_name))
  - if (name == :show) then
    = link_to user, user_path(user.path_name)
  - if (name == :full) then
    = link_to user.full_name, user_path(user.path_name)