%h2 BEF Staff
- if current_user && current_user.has_role?(:admin)
  .span-4#user-index{:class => cycle('noborder', 'noborder', 'last', :name => 'display_in_columns')}
    .user
      = link_to new_user_path do
        = image_tag "add_user.png"
        %span.username Create New User
- for person in @users
  .span-4#user-index{:class => cycle('noborder', 'noborder', 'last', :name => 'display_in_columns')}
    = render :partial => person
