%title FunDivEUROPE | Functional significance of forest biodiversity in Europe
= stylesheet_link_tag "fundiv"
%link{"rel" => "icon", "href" => "http://www.fundiveurope.eu/favicon.ico", "type" => "image/x-icon"}