%h2 Welcome to the Data portal of FunDivEurope.

%p
  The data portal presents the data aggregated within the FunDivEUROPE project and makes it available to researchers
  as well as the interested public. For more information on the project itself, go
  here:&nbsp;<a href="http://www.fundiveurope.eu/">www.fundiveurope.eu/</a></p>

%p
  Many people perceive Biodiversity, the variety of life in all its forms, as enrichment and would agree that it has a value by itself. Does biodiversity have,
  on top of that, an effect on the functions and services of an ecosystem, as productivity and stability or nutrient, carbon and water cycling?
  This question is addressed by scientists within a European research project FunDivEUROPE on the functional significance of biodiversity in European forests.
