%h2 Welcome to the data portal of FunDivEUROPE.

%p
  The data portal is the data management tool for the FunDivEUROPE project. Project members are able to upload, validate, store, and share their data.
  For more information on the project itself go to <a href="http://www.fundiveurope.eu/">www.fundiveurope.eu/</a>.

%p
  Many people perceive Biodiversity, the variety of life in all its forms, as enrichment and would agree that it has a value by itself. Does biodiversity have,
  on top of that, an effect on the functions and services of an ecosystem, as productivity and stability or nutrient, carbon and water cycling?
  This question is addressed by scientists within a European research project FunDivEUROPE on the functional significance of biodiversity in European forests.
