%div.box#files
  %h3 additional files
  - form_for @paperproposal, :html => {:multipart => true} do |form|
    - form.fields_for :datafiles do |datafile|
      -if datafile.object.new_record?
        = datafile.file_field :file
        = image_tag 'add.gif', :onclick => 'clone_me()', :title => "new import field"
      -else
        = datafile.object.basename
        %br
    = form.submit