- paperproposals ||= @paperproposals
- with_lock ||= false
- authorship_user ||= false
%ul.paperproposals
  - paperproposals.each do |pp|
    %li.paperproposal
      - if with_lock
        .paperproposal-lock
          = pp.lock ? image_tag("lock-closed.png") :image_tag("lock-open.png")
      = link_to pp.beautiful_title, paperproposal_path(pp)
      - if authorship_user
        = "(#{pp.calc_authorship(@user)})"




