- form_for @paperproposal, :html => {:multipart => true} do |f|
  %fieldset
    %legend Create new paper proposal
    %div#left_box
      = render :partial => "paperproposal_attributes", :locals => {:f => f}
    %div#right_box
      Main Proponent List
      %p
        (Main proponents are those authors, that contribute major aspects to the analysis.)
      = select "not_needed", "param", @all_persons.map{|person| [person.to_label, person.id]}, {}, {:onchange => 'selectPeople(this)'}
      %ul
        - f.fields_for :authors, @paperproposal.authors do |field|
          %li{:onclick => "this.parentNode.removeChild(this);"}
            %input{:name => "people[]", :type => "hidden", :value => field.object.id}
            = field.object.try(:to_label)
    %p.clear
      = f.submit "next step"
