%p
  Add members of the research unit by selecting them from the drop
  down list below.  Delete people form the association to a data
  column by clicking on their name in the bullet list below.
= render 'people_javascript_select'
= render 'add_external_person_to_dh_comment'