%h2
  Free-format file upload
%h3
  Add keywords
%br
%p
  Please add any keywords in a comma-delimited string

  - form_for @datacolumn, :url => { :action => "save_freeformat_tags", :controller => :imports}  do |dc|
    %div
      = dc.text_area :tag_list, :cols => 80, :rows => 10
      = dc.hidden_field :id
      %br
        = dc.submit :"Save"