<span style="width: 50%; height: 50px; float: left;">
<%= button_to "delete" , {:controller => :import, 
      :action => :context_export_destroy, 
      :context_id => @context.id,
      :confirm => 'Make sure to download present stage before
      deleting',
      :method => :delete}
%>
</span>
<span style="width: 50%; height: 50px; float: right;">
<%= link_to 'Download edit', {:controller => :contexts, 
	:action => :show, 
	:id => @context.id} %>
</span>
