
<p>
  <%= @data_column.methodstep.abbr_method %>
</p>


<p> Similar data groups on the portal: </p>

<%= render 'data_group_similar_on_portal' %>

<p> 
  Replace chosen data group with another data group:
</p>

<%= render 'data_group_choose_from_portal' %>

<p> 
  Rewrite data group based on the information provided in your workbook:
</p>

<%= render 'data_group_rewrite_using_workbook' %>



