<h1> Import Raw Data for Context</h1>
<p> Reaching this page means that you already have imported a context without
  measurements or method information. This you want to add to an existing
  context.  You should remember some word in the title or description of
  the context to find it. </p>

<form action="<%= import_path%>/search_contexts">
	<p>
		<input type="text" name="q" value="<%= params[:q] -%>" style="width: 300px;"/>
		<input type="submit" value="Search existing Contexts" />
	</p>
</form>

