/ This partial is only rendered when the Data Group is unapproved.
.span-7.last
  %h4 Approve Data Group
%p
  .approved_0 The Data Group of this Data Column was not yet approved.
  Please confirm or change the Data Group. You may choose one of the available Data Groups or create a new one and click on
  %i Save.
= render :partial => 'form_for_datagroup'