/ This partial is only rendered when invalid values were found.
.span-7.last
  %h4 Approve invalid values
%p
  .approved_0 Please check these values and approve them manually.
= render :partial => 'form_for_categories'
