/ This partial is only rendered when the Data Group is approved but the Data Type is not.
.span-8.last
  %h4 Approve the datatype
%p.clear
  - if !@datacolumn.datatype_approved?
    .approved_0 The datatype is not approved.
    Please select the datatype and click on
    %i Save.
    Your data will then be validated against the selected datatype. At the moment there is only a text representation of your data in the database and no one can download your data.
  - else
    The datatype has already been approved. You can change it by selecting a new datatype. The data will then be validated against the selected datatype.

= render :partial => 'form_for_datatype'