%b Create dataset with research data
- form_for @file, :url => {:controller => :datasets, :action => :create}, :html => {:multipart => true} do |f|
  = f.error_messages
  = f.file_field :file
  = f.submit 'Data set upload'