%b Free format file upload for datasets:
- form_for @freeformat, :url => imports_create_dataset_freeformat_path, :html => {:multipart => true} do |f|
  = f.error_messages
  = f.file_field :file
  = f.submit 'File upload'