%b Free format file upload.
- form_for @file, :url => imports_create_freeformat_filevalue_path, :html => {:multipart => true} do |f|
  = f.error_messages
  = f.file_field :file
  = f.submit 'Data set upload'