<p><a href="http://alfresco.uni-leipzig.de/spezbot/"><strong>Special Botany and functional Biodiversity</strong></a>,
</p> <p>Faculty of Biology, University of Leipzig</p> <p>&nbsp;</p>
<p>Responsible for the contents of this website is</p>
<!--TODO relative LINK-->
<p><a href="http://befchina.bgc-jena.mpg.de/beta/staff/Christian_Wirth">Prof. Dr. Christian Wirth</a></p><p>&nbsp;</p>
<p>Questions should be addressed to</p>
<!--TODO relative LINK-->
<p><a href="http://befchina.bgc-jena.mpg.de/beta/staff/Karin_Nadrowski">Dr. Karin Nadrowski</a>&nbsp;</p> <p>&nbsp;</p>
