- if @datasets
  %h2
    = pluralize(@datasets.count, 'result')
    found for "#{params[:q]}"
  %ul.datasets
    - @datasets.each do |d|
      %li.dataset
        = link_to d.title, d
        - if current_user
          = link_to image_tag("cart.png", :title =>"Add to cart"), create_cart_context_path(:dataset_id => d.id), :method => :post