%h3 Tags
%ul
  - @tags.each do |tag|
    %li
      = tag.name
      %ul
        - tag.taggings.each do |tagging|
          %li
            = link_to tagging.taggable.long_label, {:controller => :datasets, |
              :action => :show, :id => tagging.taggable.dataset_id }
