.role
  = select_tag "roles[][type]", options_for_select(all_project_roles, selected: role[:name])
  = select_tag "roles[][value]", options_for_select(all_users_names_and_ids_for_select, role[:id]), multiple: true,  class: "select2"
  = link_to "clear", "#", class: "empty"
  = link_to "", "#", class: "close", title: "Delete this role"
