- page_title "Projects"

- if current_user && current_user.has_role?(:admin)
  = content_for :actions do
    = link_to new_project_path do
      = image_tag "add.png"
      Create a new project
%h2 Projects
%ul.projects
  - @projects.each do |project|
    %li.project
      = link_to project.name+" ("+project.shortname+")", project_path(project)
