# Application wide environment variables

# Applications secret token
application_secret_token: "12f3456a78cc910121b314d1516e171awe8192030"

production:
   # Configuration party_foul
   party_foul_github_username: "username" 
   party_foul_github_repository: "repositoryname" 
   party_foul_github_oauth_token: "youroauthtokenhere" 


