site:
  #set layout to use one different than standard befdata
  #layout: 'fundiv'

  # Specify the title of your site which will appear at the browser title bar.
  # uncomment subtitle if you need a subtitle
  # the resulting pattern would be "title | subtitle" for the home page
  # and "title | page_title" for the other pages.
  title: Biodiversity
  # subtitle:

  #Add your google analytics account here if you wish to use analytics.
  #google_analytics_account: 'UA-0000000-1'

  #To use new-relic for monitoring your app you have to copy newrelic.yml.dist to newrelic.yml and enter your
  #license key and details.


eml:
  bounding_coordinates_for_geographic_coverage:
    west_bounding_coordinate: 117.89978
    east_bounding_coordinate: 118.148346
    north_bounding_coordinate: 29.285201
    south_bounding_coordinate: 29.101777
