# send mails via smtp
address:              smtp.gmail.com
port:                 587
user_name:            xxxxxxxxxxxx
password:             xxxxxxxxxxxx
authentication:       plain
enable_starttls_auto: true

# default from field for notification mails
default_from:         xxxxxxxxxxxx

# this is needed to generate absolute urls, use the url of your befdata instance
application_host      localhost:3000
