%h1 Shopping system for the BEF-China Project
%div.box
  - if @cart.cart_contexts.blank?
    Cart still empty
  - else
    - @cart.cart_contexts.each do |cart_object|
      %p.cart
        %span.left= cart_object.context.title
        %span.right= link_to image_tag("/images/cart_remove.png", :title => "Remove from your cart."),
          delete_cart_context_path(cart_object), :method => :delete, :confirm => "Are you sure you want delete this data column from cart?"
    %p{:style => "margin-bottom: 4px;"}
      Do you want to create a new data request from your cart?
      = link_to image_tag("/images/page_add.png", :title => "Create new data proposal"), :new_data_request
