%h1
  = @tag.name

%ul
- @datasets.each do |dataset|
  %li
    = link_to dataset.title, {:controller => :datasets,
                                               :action => :show,
                                               :id => dataset.id }
    -#= "( #{tagging.taggable.long_label} )"

