#!/bin/bash

ROOT=path_to_root_folder_of_app_where_config.ru_resides
RAILS_ENV=fill_in_environment

echo "Used Ruby = `which ruby`"

pushd $ROOT
  echo "========= Updating the source ========="
  #might need manually resolving conflictions
  git pull

  echo "========= updating gems ========="
  bundle install

  echo "========= Migrating the database ========="
  rake db:migrate

  echo "========= Precompiling the assets(only needed for production)========="
  rake assets:precompile
  
  echo "========= Restarting Server ========"
  touch "tmp/restart.txt"

  echo "========= restart the background worker ========="
  script/delayed_job_$RAILS_ENV restart

popd

