
<h3>Tags</h3>


<ul>
  <% @tags.each do |tag| %>
    <li> <%= tag.name %> 
      <ul>
	<% tag.taggings.each do |tagging| %>
	  <li> <%= tagging.taggable.long_label %> 
	<% end %> 
      </ul>
  <% end %> 
</ul>
