%h2 Welcome to the Data portal of the BEF-China project.

%p
  The data portal presents the data aggregated withing the BEF-China project and makes it available to researchers as well as the interested public.
  For more information on the project itself, go here: www.bef-china.de/

%p
  The Chinese-​European DFG Research Unit “BEF China” (FOR 891) has started a new forest Biodiversity and Ecosystem Functioning (BEF) experiment in subtropical forests in China.
  The objective of this experiment is to analyze the influence of tree and shrub species diversity on ecosystem functioning and services in one of the most prominent diversity
  hotspots in the northern hemisphere. The studies are carried out in the border region between the two Chinese provinces Jiangxi and Zhejiang (Xingangshan and Gutianshan).
  A range of biodiversity and ecosystem variables will be measured to assess community dynamics and its relation to primary productivity, carbon and nitrogen storage, nutrient
  cycling, and prevention of soil erosion. In parallel, the experimental approach is combined with comparative studies in existing forests.
