%p
  = link_to("Special Botany and functional Biodiversity", "http://alfresco.uni-leipzig.de/spezbot/")
  Faculty of Biology, University of Leipzig

%p
  Responsible for the contents of this website is
  = link_to("Prof. Dr. Christian Wirth", "http://befchina.bgc-jena.mpg.de/beta/staff/Christian_Wirth")

%p
  Questions should be addressed to
  = link_to("Dr. Karin Nadrowski", "http://befchina.bgc-jena.mpg.de/beta/staff/Karin_Nadrowski")

%p
  Icons: Dortmund