%div
  %div.box
    %h3 Global Mini Proposal Information
    - form_for @data_request do |f|
      %br
      = f.label :state
      = f.select :state, ["in prep", "manuscript avaible", "in review", "accepted"]

  = render :partial => 'additional_files'

  %div.box
    %h3 State of Data Request
    %p
      = render :partial => 'state_of_vote'