#new_category {
  label { font-weight: bold;}
  input[type=text] {
    width: 100%;
  }
  table {
    border: solid 1px #4AA94E;
    padding: 10px 14px 5px;
    td {
      vertical-align: bottom;
      border: none;
    }
  }
}
#added {
  table {width: 100%;}
  #empty-identifier {
    font-style: italic;
    margin-top: -5px;
  }
}
table#sheetcell-change-list {
  margin-bottom:1em;
   tfoot td {
    border-bottom:0;
    color:#333;
    font-style: italic;
  }
}