// Place all the styles related to the datagroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_datagroup, .edit_datagroup {
  input[type='text'], textarea{
    width: 500px;
  }
  textarea {
    height: 200px;
  }
}
#categories {
  position: relative;
  margin-top: 20px;
  #loader {
    top: 40px;
  }
  #categories_table {
    #search_form {
      position: absolute;
      right: 0px;
      top: -30px;
    }
    table {
      width: 100%;
      th a {
        color: black;
        &:hover{
          text-decoration: none;
        };
      }
      .asc:after {
        content: image-url("tablesorter/desc.gif");
      }
      .desc:after {
        content: image-url("tablesorter/asc.gif");
      }
    }
  }
}
.datacolumn {
  position: relative;
  padding: 8px;
  border-top: dotted 1px #CCC;
  #loader {
    top: 5px;
  }
  .columnheader{
    font-weight: bold;
    color: #18921e;
  }
  .definition {
    white-space: pre-line;
  }
  form {
    input[type="text"], textarea {
      width: 100%;
    }
    textarea {
      line-height: 1.7em;
    }
  }
}
#loader {
  z-index: 10;
  position: absolute;
  width: 110px;
  left: 50%;
  margin-left: -75px;
  padding: 10px 10px 10px 30px;
  background: image-url("spinner.gif") 10px 50% no-repeat #eee;
  border: 1px solid #ddd;
}

.datagroup-filter {
  .group {
    margin-right: 10px;
    display: inline-block;
    select, input {
      margin: 0px;
    }
  }
}

table#datagroups-table {
  width: 100%;
  .indicator {width: 16px;}
  col.action {width: 80px;}
  col.type {width: 130px;}
  tr.datagroup {
    td {
      vertical-align: top;
      .indicator-icon {
        width: 16px;
        height: 16px;
        background: #EEE image-url('tablesorter/asc.gif') 50% 50% no-repeat;
      }
    }
    td.info {
      &:hover {
        background-color: rgb(250,250,250);
      }
      .comment {
        display: none;
        color: gray;
        font-style: italic;
        font-size: 0.9em;
      }
      .title-description {
        width: 675px;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow:    ellipsis;
        a { font-size: 1.1em;}
        .description { display: inline;}
      }
    }
  }
  tr.datagroup.expanded {
    .indicator-icon {
      background: #EEE image-url('tablesorter/desc.gif') 50% 50% no-repeat;
    }
    td.info {
      .comment { display: block;}
      .title-description {
        white-space: normal;
        .description { display: block;}
      }
    }
  }
}
