// Place all the styles related to the datagroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_datagroup, .edit_datagroup {
  input[type='text'], textarea{
    width: 500px;
  }
  textarea {
    height: 200px;
  }
}
#categories {
  position: relative;
  margin-top: 20px;
  #loader {
    top: 40px;
  }
  #categories_table {
    #search_form {
      position: absolute;
      right: 0px;
      top: -30px;
    }
    table {
      width: 100%;
      th a {
        color: black;
        &:hover{
          text-decoration: none;
        };
      }
      .asc:after {
        content: image-url("tablesorter/desc.gif");
      }
      .desc:after {
        content: image-url("tablesorter/asc.gif");
      }
    }
  }
}
.datacolumn {
  position: relative;
  padding: 8px;
  border-top: dotted 1px #CCC;
  #loader {
    top: 5px;
  }
  .columnheader{
    font-weight: bold;
    color: #18921e;
  }
  .definition {
    white-space: pre-line;
  }
  form {
    input[type="text"], textarea {
      width: 100%;
    }
    textarea {
      line-height: 1.7em;
    }
  }
}
#loader {
  z-index: 10;
  position: absolute;
  width: 110px;
  left: 50%;
  margin-left: -75px;
  padding: 10px 10px 10px 30px;
  background: image-url("spinner.gif") 10px 50% no-repeat #eee;
  border: 1px solid #ddd;
}

.datagroup-filter {
  .group {
    margin-right: 10px;
    display: inline-block;
    select, input {
      margin: 0px;
    }
  }
}

table#datagroups-table {
  width: 100%;
  tr {
    td {
      vertical-align: top;
      padding: 5px;
      .expander {
        width: 16px;
        height: 16px;
        background: image-url('tablesorter/desc.gif') 50% 50% no-repeat;
      }
      .collapsed {
        background: image-url('tablesorter/asc.gif') 50% 50% no-repeat;
      }
    }
    td.info {
      max-width: 700px;
      &:hover {
        background-color: rgb(250,250,250);
      }
      .title a {
        font-size: 1.1em;
      }
      .more {
        margin-top: 5px;
        border-top: solid 1px #DDD;
        .time {
          color: #AAA;
          font-style: italic;
          font-size: 0.9em;
        }
      }
    }
  }
}
