// Place all the styles related to the paperproposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --- Paperproposal ----------------------------------------- */

.paperproposal-datasets-table thead th:first-child {
    width: 100%;
}

.paperproposal-datasets-table  {
    width: 80%;
}

.paperproposal-datasets-table td{
    vertical-align: top;
}

.paperproposal-datasets-table select {
    margin-bottom: 0px;
}

#add_dataset_to_paperproposal_select {
    margin-bottom: 35px;
}

/* --- Paperproposal Votes ---------------------------------- */

.vote {
    outline: 1px solid #cdcdcd;
    padding: 15px;
    margin-bottom: 10px;
}
.edit_paperproposal_vote {
    display: block;
    clear: both;
    margin-top: 10px;
}

.edit_paperproposal_vote dt{
    float: left;
    width: 130px;
}

.edit_paperproposal_vote textarea{
    height: 100px;
    width: 250px;
}

.edit_paperproposal_vote input[type="submit"]{
    margin-left: 130px;
    margin-bottom: 4px;
}

/* Progress of paperproposal voting */

#date-request-state {
  outline: 1px solid #cdcdcd;
  padding: 15px;
  margin-bottom: 10px;
}

.paperproposal-states-breadcrumb {
  span:after {
    content:">";
    color: black;
  }
  span:last-child:after {
    content:"";
  }
  .state-less {

  }
  .state-equal {
    font-weight: bold;
  }
  .state-greater {
    color: #CDCDCD;
  }
}

.votes-state {
  position: relative;
  height: auto;
  overflow: hidden;
  margin-bottom: 13px;
  .users-and-arrows {
    float: left;
    width: 170px;
    position: relative;
    .voter {
      float: left;
      width: 130px;
      height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    img{
      position: relative;
      top: 4px;
    }
  }
  .votes-result {
    position: absolute;
    top: 50%;
    left: 170px;
    margin-top: -8px; //half the image height
    span {
      position: relative;
      top: -4px;
      margin-left: 2px;
    }
  }
}
