// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#api {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Courier New', monospace;
  color:#555;
  width:150px;
  font-size:12px;
}


.vote-old {
  p.vote-time {
    float: right;
  }
  p.vote-type {
    float: left;
  }
  p.vote-vote {
    clear: both ;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
