/* -------------------------------------------------------------- 
Reset -compressed-  based on html5doctor
-------------------------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
nav ul, header ul, footer ul, ul.scrollerlinks { list-style: none }
footer ul, footer ol {margin: 0; padding: 0}
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ddd; margin: 1em 0; padding: 0; }
input, select, textarea { vertical-align: middle; background-color: #ddd; }
label, input[type=button], input[type=submit], button { cursor: pointer }
body * {outline: none;}
/* This helps to make newer HTML5 elements behave like DIVs in older browers */ 
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
    display:block;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { 
	border-collapse: separate; 
	border-spacing: 0; 
}
/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td { 
	text-align: left; 
	font-weight: normal; 
	float:none !important; 
}
table, th, td { 
	vertical-align: middle; 
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

/* Remember to define your own focus styles! */
:focus { outline: 0; }

/* -------------------------------------------------------------- 
Blueprint Grid
-------------------------------------------------------------- */
/* A container should group all your columns. */
.container {
  width: 928px;
  margin: 0 auto;
}

/* Body margin for a sensile default look. */
body {
  margin:0;	
}

/* Columns
-------------------------------------------------------------- */

/* Sets up basic grid floating and margin. */
.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {float:left; margin-right: 32px;}

/* The last column in a row needs this class. */
div.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
.span-1  { width: 48px; clear: left;}
.span-2  { width: 128px;}
.span-3  { width: 208px;}
.span-4  { width: 288px;}
.span-5  { width: 368px;}
.span-6  { width: 448px;}
.span-7  { width: 528px;}
.span-8  { width: 608px;}
.span-9  { width: 688px;}
.span-10 { width: 768px;}
.span-11 { width: 848px;}
.span-12, div.span-12 { width: 928px; margin: 0; }

/* Add these to a column to append empty cols. */
.append-1  { padding-right: 80px;}
.append-2  { padding-right: 160px;}
.append-3  { padding-right: 240px;}
.append-4  { padding-right: 320px;}
.append-5  { padding-right: 400px;}
.append-6  { padding-right: 480px;}
.append-7  { padding-right: 560px;}
.append-8  { padding-right: 640px;}
.append-9  { padding-right: 720px;}
.append-10 { padding-right: 800px;}
.append-11 { padding-right: 880px;}

/* Add these to a column to prepend empty cols. */
.prepend-1  { padding-left: 80px;}
.prepend-2  { padding-left: 160px;}
.prepend-3  { padding-left: 240px;}
.prepend-4  { padding-left: 320px;}
.prepend-5  { padding-left: 400px;}
.prepend-6  { padding-left: 480px;}
.prepend-7  { padding-left: 560px;}
.prepend-8  { padding-left: 640px;}
.prepend-9  { padding-left: 720px;}
.prepend-10 { padding-left: 800px;}
.prepend-11 { padding-left: 880px;}

/* Border on right hand side of a column. */
div.border {
  padding-right:15px;
  margin-right:16px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right:35px;
  margin-right:32px;
  border-right: 1px solid #eee;
}

/* Use these classes on an element to push it into the 
   next column, or to pull it into the previous column.  */

.pull-1 { margin-left: -80px;}
.pull-2 { margin-left: -160px;}
.pull-3 { margin-left: -240px;}
.pull-4 { margin-left: -320px;}
.pull-5 { margin-left: -400px;}
.pull-6 { margin-left: -480px;}
.pull-7 { margin-left: -560px;}
.pull-8 { margin-left: -640px;}
.pull-9 { margin-left: -720px;}
.pull-10 { margin-left: -800px;}
.pull-11 { margin-left: -880px;}
.pull-12 { margin-left: -960px;}

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {float:left;position:relative;}

.push-1 { margin: 0 -80px 1.5em 80px;}
.push-2 { margin: 0 -160px 1.5em 160px;}
.push-3 { margin: 0 -240px 1.5em 240px;}
.push-4 { margin: 0 -320px 1.5em 320px;}
.push-5 { margin: 0 -400px 1.5em 400px;}
.push-6 { margin: 0 -480px 1.5em 480px;}
.push-7 { margin: 0 -560px 1.5em 560px;}
.push-8 { margin: 0 -640px 1.5em 640px;}
.push-9 { margin: 0 -720px 1.5em 720px;}
.push-10 { margin: 0 -800px 1.5em 800px;}
.push-11 { margin: 0 -880px 1.5em 880px;}
.push-12 { margin: 0 -960px 1.5em 960px;}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12 {float:right;position:relative;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* =============================================================
                  C U S T O M   L A Y O U T
============================================================= */

/* --- BASIC COLORS ---------------------------------------------
     Colors to use:
        #000    : black
        #8a8a8a : dark grey
        #cdcdcd : light grey
        #18921e : green
        #fff    : white
------------------------------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    line-height: 1.8em;
	color: #000;
    background: image-url("bg-stripes-grey-grey.png") repeat;
}

input, textarea, select {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 100%;
}

div.container {
    background-color: #fff;
    padding: 0 25px;
    min-height: 100%;
    position: relative;
}

div#content {
    padding-bottom: 100px;
    display: inline-block;
}

/* --- Typo ------------------------------------------------- */

h1 {
	font-size: 2em;
}

h2, h3, h4 {
	margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.2em;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

p, ol, ul, input, select, textarea {
	margin-bottom: 1em;
}

ul {
    list-style: none;
}

ul > *{
    line-height: 1.2em;
    margin-top: 1em;
}

ul > *:first-child{
    margin-top: 0;
}

a {
	color: #18921e;
    text-decoration: none;
}

a:visited {
    color: #18921e;
}

a:hover, a:focus {
	text-decoration: underline;
    color: #18921e;
}

a img {
	border: none;
}

.question {
    font-weight: bold;
}

/* --- Tables ------------------------------------------------ */

table {
    margin: 1em 0 1em 0;
    border: none;
}

table th {
    padding: 5px;
    border-bottom: 1px solid #8a8a8a;
    background: #cdcdcd;
    font-weight: bold;
}

table th.centercolumn {
    text-align: center;
}

table td {
    padding: 5px;
    border-bottom: 1px solid #8a8a8a;
}

table td.centercolumn {
    text-align: center;
}

table td.even {
    background: #fff;
}

table td.odd {
    background: #f6f6f6;
}

table.tablesorter th {
	padding-right: 20px;
}

table.tablesorter .header {
	background-image: image-url("tablesorter/bg.gif");
	background-repeat: no-repeat;
    background-position: center right;
}

table.tablesorter .headerSortUp {
	background-image: image-url("tablesorter/asc.gif");
	background-repeat: no-repeat;
}

table.tablesorter .headerSortDown {
	background-image: image-url("tablesorter/desc.gif");
	background-repeat: no-repeat;
}

/* --- Forms -------------------------------------------------- */

input, textarea, select {
    background-color: #fff;
    outline: 1px solid #cdcdcd;
    border: none;
    padding: 2px;
}

input:focus, textarea:focus, select:focus {
    outline: 1px solid #18921e;
}

input[type=checkbox], input[type=file], input[type=radio] {
    outline: none;
}

input[type=file] {
    border: 1px solid #cdcdcd;
}

input[type=button], input[type=submit], button, a.button {
  background-color: #e8e8e8;
  outline: 1px solid #8a8a8a;
  border:  none;
  color: #18921e;
  font-weight: bold;
  padding: 3px;
  font-family:"Trebuchet MS",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.3em;
}

input[type=button]:hover, input[type=submit]:hover, button:hover, a.button:hover,
input[type=button]:focus, input[type=submit]:focus, button:focus, a.button:focus {
  outline-color: #18921e;
  background-color: #eee;
}

a.button, button {
  text-decoration:none;
  display: inline-block;
}

button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px;   /* IE6 */
}
button[type] {
  padding:12px 36px;   /* Firefox */
  line-height:17px;    /* Safari */
  -moz-border-radius: 5px;
  border-radius: 5px;
}
*:first-child+html button[type] {
  padding:12px 36px;   /* IE7 */
}
button img, a.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
  float:none;
}

button.inline { float: right; }

input[disabled], input[disabled]:hover, input[disabled]:focus {
  color: gray;
  outline-color: gray;
}

input[type='search'] {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
}

form .required:after {
  content: ' *';
  color: red;
}
/*select2 tweak*/

.select2-results .select2-highlighted {
  background: #e8e8e8;
  color: #18921e;
}
.select2-result-selectable {
    padding: 2px;
    margin: 0px;
    line-height: 1em;
}
.select2-container-multi .select2-choices {
    background-image: none;
}
.select2-container-multi.select2-container-active .select2-choices {
    box-shadow        : none;
    border: 1px solid #18921e;
    outline: none;
}

/* --- Header ------------------------------------------------- */

#rails_env_notice {
    background-color: #cdcdcd;
    padding: 5px 10px;
    font-size:  0.9em;
    line-height: 0.9em;
}

#header {
    margin-bottom: 20px;
    margin-top: 10px;
    position: relative;
}

#header li {
    display: inline;
}

#header li * {
    vertical-align: middle;
}

#header a {
    padding: 4px 10px;
    text-decoration: none;
}

#header a:hover, #header a:focus {
    color: #000;
    background-color: #cdcdcd;
}

#header input[type=submit] {
    padding: 2px;
    height: 18px;
}

#header input[type=text], #header input[type=password],  #header input[type=search]{
    padding-left: 14px;
}

#logo {
	background: image-url("header-logo.png") no-repeat left top;
    width: 928px;
    height: 43px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#menu {
    float: left;
}

#login {
    float: right;
    font-size: 0.9em;
    margin-top: 0;
}

#login label {
    color: #8a8a8a;
}

#header form * {
    vertical-align: middle;
}

#header ul, #header input {
    margin-bottom: 0;
}

input#user_session_login {
    background: image-url("login-user.png") left center no-repeat;
}

input#user_session_password {
    background: image-url("login-pwd.png") left center no-repeat;
}

#remember_me {
    margin-left: 4px;
    margin-right: 4px;
}

#remember_me * {
    vertical-align: middle;
}

#remember_me img {
    margin-right: -3px;
    padding-bottom: 2px;
}

#remember_me input {
    margin-bottom: 3px;
}

#header div#search {
    position: absolute;
    right: 0;
    top: 10px;
}

input#search_term {
    background: image-url("header-search.png") left center no-repeat;
    margin-right: 4px;
}

/* --- Flashes ----------------------------------------------- */

#notice {
	border: 2px solid #18921e;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#error {
	border: 2px solid #f00;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

div#errorExplanation {
    background: #cdcdcd;
    padding: 10px;
    margin-bottom: 1em;
}

#errorExplanation * {
    margin-bottom: 0;
}

#errorExplanation h2 {
    line-height: 1.2em;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#errorExplanation ul {
    list-style-type: square;
    padding-left: 20px;
}

/* --- Main Content ------------------------------------------- */

ul.datasets a, ul.projects a, .user a, ul.paperproposals a{
    color: #000;
}

ul.datasets a:hover, ul.projects a:hover, .user a:hover, ul.paperproposals a:hover,
ul.datasets a:focus, ul.projects a:focus, .user a:focus, ul.paperproposals a:focus{
    text-decoration: none;
    color: #18921e;
}

#user-index {
    margin-bottom: 2em;
}

.user {
    display: block;
    clear: both;
}

.user:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.user a {
    display: block;
    vertical-align: top;
}

.user a img {
    float: left;
    margin-right: 0.5em;
}

.user .username {
    vertical-align: top;
}

div.paperproposal-lock {
    float: left;
    margin-right: 8px;
}

span.dataset-comment {
    color: #8a8a8a;
    display: block;
}

.dataset_columns { margin-bottom: 1em; }
.dataset_columns .columnheader { font-weight: bold; color: #18921e }

#copyright-remarks {
    margin-top: 30px;
    font-size: 0.8em;
}

.dataset-create-form textarea, .paperproposal-metadata-form textarea {
    width: 70%;
    height: 200px;
}

.dataset-create-form p, .paperproposal-metadata-form p {
    width: 70%;
}

.dataset-metadata-form textarea {
    height: 120px;
}


/* --- Sidebar ----------------------------------------------- */

div#sidebar {
    border: #cdcdcd solid 2px;
    padding: 10px 10px 14px 10px;
    margin-left: -24px;
}

div#actions + div#info {
    margin-top: 10px;
    border-top: 1px solid #cdcdcd;
    padding-top: 14px;
}

#actions * {
    vertical-align: middle;
}

#actions li {
    margin: 0;
}

#actions a {
    display: block;
    color: #18921e;
    padding: 5px;
}

#actions a img{
    margin-right: 2px;
}

#actions a:hover, #actions a:focus {
    color: #000;
    background-color: #cdcdcd;
    text-decoration: none;
}

#info {
    font-size: 0.9em;
}

#info ul {
    margin-bottom: 0;
}

#info h3 {
    margin-top: 1em;
}

#info h3:first-child {
    margin-top: 0;
}

/* --- Modals ------------------------------------------------ */

.simplemodal-container {
    background-color: #fff;
    padding: 12px;
    border: 2px #18921E solid;
    width: 600px;
    font-size: 0.9em;
}

.simplemodal-overlay {
    background-color: #fff;
}

.email_modal h3 {
    margin-bottom: 7px;
}

.email_modal .menu a:first-child {
    margin-right: 7px;
}

.email_modal .email_addresses {
    font-family: courier, monospace;
    font-size: 1.1em;
    outline: 1px #8A8A8A solid;
    padding: 5px;
    width: 588px;
    height: 100px;
    overflow: auto;
    margin-bottom: 7px;
}

.email_modal .close_hint {
    color: #8A8A8A;
    margin: 5px 0 0 0;
}


.show_download_link_modal h3 {
    margin-bottom: 7px;
}

.show_download_link_modal .menu a:first-child {
    margin-right: 7px;
}

.show_download_link_modal .download_urls {
    font-family: courier, monospace;
    font-size: 1.1em;
    outline: 1px #8A8A8A solid;
    padding: 5px;
    width: 588px;
    height: 100px;
    overflow: auto;
    margin-bottom: 7px;
}

.show_download_link_modal {
  .security-alert {
    color: red;
    margin: 0px;
  }
  .close_hint {
    color: #8A8A8A;
    margin: 5px 0 0 0;
  }
}

#modal { top: 20px; }
#modal textarea { min-height: 150px; }


/* --- Footer ------------------------------------------------ */

#footer {
    background: image-url("bg-footer.png") repeat-x top left;
	clear: both;
    display: block;
    margin-top: 20px;
    padding-top: 28px;
    font-size: 0.9em;
    line-height: 0.9em;
    height: 70px;
    position: absolute;
    bottom: 0;
}

#footer * {
    margin: 0;
    padding: 0;
    border: none;
}

#footer li {
    display: inline;
}

ul#foot-menu {
    float:right;
}

#foot-menu li{
    margin-left: 6px;
}

ul#page-associates {
    float: left;
}

#page-associates img {
	margin-right: 10px;
}


/* --- Form Style with two columns ------------------------------------------------- */

#left_box {
    border-right: 1px dashed #000;
    width: 45%;
    float: left;
    margin-right: 10px;
}

#left_box label {
    display: block;
    width: 130px;
    float: left;
}

#left_box input {
    text-align: right;
    margin-right: 0;
    padding-right: 0;
}

#right_box {
    width: 45%;
    float: left;
}
.clear {
    clear: left;
}

.box {
    width: 500px;
    border: #999999 solid 1px;
    background-color: #cccccc;
    -moz-box-shadow:0 3px 7px #ADADAD;
    box-shadow: 0 3px 7px #ADADAD;
    -webkit-box-shadow: 0 3px 7px #ADADAD;
    margin: 10px;
    padding: 5px 5px;
}

.box h3 {
    border-bottom: #999999 dashed 1px;
    text-align: center;
}

.box label {
    margin-left: 4px;
    display: block;
    width: 140px;
    float: left;
    cursor: text;
}
.box .scroll_checkboxes label {
    display: block;
    width: 350px;
    float: left;
    overflow: hidden;
}

.box textarea{
    width: 220px;
    height: 130px;
}
.arrow_box {
    margin: 5px 5px;
}

.arrow_box .label {
    float:left;
    width: 160px;
}

.left_vote {

    float:left;
    position: relative;
    margin: 5px 5px;
}
.right_vote {
    position: absolute;
    float:left;
    margin: auto 0;
    top: 25%;
    vertical-align:middle;
    height: 2.5em;
}

.right_vote img {
    margin-top: 7px;
    float:left;
}

.around_box {
    vertical-align: middle;
    display:block;
    height: auto;
    clear:both;
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.clear {
    display:block;
}

.box h5 {
   margin-bottom: 3px;
}

.noBullet {
  list-style: none none;
}

.hidden {
    display: none;
}

.nube1 {font-size: 1.0em;}
.nube2 {font-size: 1.2em;}
.nube3 {font-size: 1.4em;}
.nube4 {font-size: 1.6em;}
.nube5 {font-size: 1.8em;}
.nube6 {font-size: 2.0em;}

.dataset_actions { padding: 1em 0; }
.dataset_actions li { list-style-type: none; }

.approved_0, .approved_0 a { color: #f00 !important; }
.approved_0.ui-tabs-selected { color: #f00 !important; border: 3px solid #f00 !important; }
.approved_1 a { color: #f00 !important; }
.approved_1.ui-tabs-selected { color: #f00 !important; border: 3px solid #f00 !important; }
.approved_2 a { color: #eb8f00 !important; }
.approved_2.ui-tabs-selected { color: #eb8f00 !important; border: 3px solid #eb8f00 !important; }
.approved_3 a { color: #9bc56f !important; }
.approved_3.ui-tabs-selected { color: #9bc56f !important; border: 3px solid #9bc56f !important; }

.sidenote { float:right; width: 208px; margin: 10px 20px; border: 2px solid #9bc56f; border-radius: 4px; }
.sidenote .head { background: #243f12; margin: 0; padding: 3px; color: #fff; }
.sidenote .content {padding: 10px;}

/* --------------------------------------------------------------
Custom JQuery Tweaking
-------------------------------------------------------------- */
.ui-widget, .ui-widget input {font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;}
.ui-widget-header { background: #243f12; border: 1px solid #9bc56f; }
.ui-widget-content { background: #fff; }
.ui-tabs { padding: 0; }
.ui-tabs-nav .approved_false a { color: #f00; }
.ui-tabs-nav .approved_medium a { color: #eb8f00; }
.ui-tabs-nav .approved_true a { color: #9bc56f; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-top-right-radius: 0px; border-top-left-radius: 0px; }

a.remove_parent, a.hide_parent {
  display: block;
  float: right;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 20px;
  &:hover{
    text-decoration: none;
  }
  &:after {
    content: "×";
  }
}
#error a.hide_parent {
  color: #f00;
}
noscript {
  color: #f00;
}

.pagination{
  a, .current, .previous_page, .next_page{
    border: solid 1px green;
    padding: 3px;
  }
}
.right { float: right !important;}
.left { float: left !important;}
