- with_datagroups ||= false

%table.import_values
  %thead
    %tr
      %th Short
      %th Long
      %th Description
      - if with_datagroups
        %th Datagroup
  - categories_table.sort_by(&:short).each do |cat|
    #tbody
      %tr
        %td= link_to cat.short, cat
        %td= cat.long
        %td= cat.description
        - if with_datagroups
          %td= link_to cat.datagroup.title, cat.datagroup